{
    "token": "TOKEN_HERE",
    "prefix": "!",
    "libsynFeeds": [
        {
            "feedURL": "http://popculturerolecall.libsyn.com/rss",
            "postChannel": "123456789012345"
        }
    ]
}